#header {
      background-color: darkgreen;
      height: 250px;
      color: white;
      font-size: 20;
}

#image_div {
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      float: left;
}

.header_title {
      padding-top:15px; 
}

.title_name {
      font-size: 38px;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),

	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

.title_position {
      font-size: 28px;
}

#content {
      background-color: #d7d7d7;
      color: black;
      font-size: 24px;
}

#footer {
      height: 150px;
      background-color: #4faab3;
}


.section_title {
      font-size: 32px;
      background-color: goldenrod;
      color: black;
      margin-bottom: 20px;
      padding-left: 10px;
}

table {
      border: 10px;
}

td {
  padding: 7px 17px;
}

